*{
  padding: 3px;
}
body{
  background-color: #F0F5F9;
}

.MuiTableContainer-root {
  background-color: #ffffff9c !important;
  border-radius: 9px  !important;
}

.MuiButtonBase-root{
  background-color: #5E53EC !important;
}

.MuiTypography-subtitle1{
  color: #000 !important;
  font-weight: 700 !important;
  text-transform: uppercase;
}

.header{
  font-weight: 650 !important;
  opacity: 0.6;
}


